<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>Complete Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">

    <div class="cont-2">
      <p style="font-size: small; margin-bottom: 30px;"><b>Complete your registration by filling up the form</b></p>
    </div>

    <div class="cont-1">
      <!-- <ion-input id="name" style="margin-bottom: 10px;" type="text" placeholder="First name"></ion-input> -->
      <form [formGroup]="completeForm" (ngSubmit)="completeSignup()">
        <ion-input id="name" formControlName="name" style="margin-bottom: 10px;" type="text" placeholder="First name"></ion-input>
        <div *ngFor="let error of errorMessages.name">
          <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
            <small style="color: red;" class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <!-- <ion-input formControlName="firstName" id="firstName" style="margin-bottom: 10px;" type="text" placeholder="First name"></ion-input> -->
        <ion-input formControlName="lastName" style="margin-bottom: 10px;" type="text" placeholder="Last name"></ion-input>
        <div *ngFor="let error of errorMessages.lastName">
          <ng-container *ngIf="lastName.hasError(error.type) && (lastName.dirty || lastName.touched)">
            <small style="color: red;" class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-input formControlName="email" style="margin-bottom: 10px;" type="email" placeholder="Email"></ion-input>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
            <small style="color: red;" class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <!-- <ion-input formControlName="mobile" style="margin-bottom: 10px;" type="number" placeholder="Mobile"></ion-input> -->
      </form>

      <!-- <ion-input style="margin-bottom: 10px;" type="password" placeholder="Password"></ion-input> -->
    </div>

    <!-- <div class="cont-2">
      <p style="font-size: small; margin-top: 0px;">Already have an account?<a routerLink="/signin"><b> Sign in</b></a></p>
    </div>-->

    <!-- <div class="cont-2">
      <p style="font-size: small; margin-top: 0px;">Complete your registration by filling up the form</p>
    </div> -->

    <div class="signup">
      <ion-button class="btnsignup" fill="clear" (click)="completeSignup()" *ngIf="!spin">
        Complete Signup
      </ion-button>
    </div>

    <div class="ion-text-center" *ngIf="spin">
      <ion-spinner color="primary"></ion-spinner>
    </div>

    <!-- <div class="cont-3">
      <p style="font-size: small; margin-top: 20px; text-align: center;">By signing up you agree to our terms and conditions of use and Privacy Policy</p>
    </div> -->

  </div>

</ion-content>