ion-toolbar{
    --overflow: hidden;
    color: whitesmoke;
    --background: #50A581;
}

ion-searchbar{
    --border-radius: 50px;
}

.nearby{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}