<ion-app>

  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Restaurant App
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <div class="cont-1" style="margin-top: 50px;">
        <ion-grid>
          <ion-item routerLink="/profile">
            <ion-icon name="person" style="margin-right: 8px;"></ion-icon>
            Profile
          </ion-item>

          <ion-item routerLink="user-booking">
            <ion-icon name="book" style="margin-right: 8px;"></ion-icon>
            My Bookings
          </ion-item>

          <ion-item routerLink="/settings">
            <ion-icon name="settings" style="margin-right: 8px;"></ion-icon>
            Settings
          </ion-item>

          <!-- <ion-item>
            <ion-icon name="home" style="margin-right: 8px;"></ion-icon>
            My Address
          </ion-item> -->

          <!-- <ion-item (click)="logout()">
            <ion-icon name="log-out" style="margin-right: 8px;"></ion-icon>
            Logout
          </ion-item> -->
        </ion-grid>
      </div>

    </ion-content>

  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>

</ion-app>