<!-- <p>
  user-modal works!
</p> -->

<ion-header>
  <ion-toolbar>
    <ion-title>{{resName}}'s Restaurant</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col size="12">
      <p>Guests: {{guests}} </p>
      <p>Seating Preference: {{preference}}</p>
      <p>Date: {{date | date}}</p>
      <p>Time: {{time | date: 'H:mm'}}</p>
      <p *ngIf="status == 'Pending'">Your booking is still {{status}}</p> 
      <p *ngIf="status == 'Cancelled'">Your booking has been {{status}}</p> 
      <p *ngIf="status == 'Approved'">Your booking has been {{status}}</p> 
      <p></p>
      <p (click)="statuses(ownerId, user_Id, 'Pending')"></p>
      <ion-button (click)="statuses(ownerId, user_Id, 'Cancelled')" color="danger" size="small">Cancel</ion-button>
    </ion-col>
  </ion-row>

</ion-content>