<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="make-a-booking"></ion-back-button>
    </ion-buttons>
    <ion-title>Leave a Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <ion-row>
      <ion-col>
        <h6 style="text-align: center;">Your booking has been received. Please leave a review for <b>{{rests?.resName}} Restaurant</b></h6>
        <!-- <h3>Leave a review for Restaurant name</h3> -->
      </ion-col>
    </ion-row>

    <form [formGroup]="reviewForm" (ngSubmit)="reviewSubmit()">
      <ion-item>
        <ion-textarea formControlName="review" type="text" placeholder="Please leave a review"></ion-textarea>
      </ion-item>

      <ion-button class="btnsignup" (click)="reviewSubmit()" fill="clear">
        Submit
      </ion-button>

    </form>

    

  </div>

</ion-content>
