<!-- <ion-header>
  <ion-toolbar>
    <ion-title>phone-screen</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="content">

    <div id="recaptcha-container" style="display: none;"></div>

    <!-- Phone Number Content -->
    <div *ngIf="!otpSent">
      <div class="cont-1">
        <img style="width: 12%; height: 35px;" src="../../../assets/images/ZA.png" alt="" />
        <ion-input id="phoneNumber" style="margin-bottom: 10px; margin-left: 5px;" type="number"
          placeholder="Enter your phone number">
          {{code}}
        </ion-input>
      </div>

      <div class="cont-2">
        <p style="font-size: small;">An OTP will be sent to given phone number</p>
      </div>

      <div class="signup">
        <ion-button class="btnsignup" (click)="sendOTP()" fill="clear" *ngIf="!spin">
          Send OTP
        </ion-button>
      </div>

      <div class="ion-text-center" *ngIf="spin">
        <ion-spinner color="primary"></ion-spinner>
      </div>
    </div>

    <!--OTP Content-->
    <div *ngIf="otpSent">
      <div class="cont-1">
        <ion-input id="otp" style="margin-bottom: 10px; margin-left: 5px;" type="number"
          placeholder="Enter the 6-Digit sent to you"></ion-input>
      </div>

      <div class="cont-2">
        <p style="font-size: small;">An OTP sent to {{phoneNumber}}</p>
      </div>

      <div class="signup">
        <ion-button class="btnsignup" (click)="verifyOTP()" fill="clear" *ngIf="!spin">
          Verify OTP
        </ion-button>
      </div>

      <div class="ion-text-center" *ngIf="spin">
        <ion-spinner color="primary"></ion-spinner>
      </div>

    </div>

  </div>



</ion-content>