<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">

    <div class="cont-1">
      <ion-input style="margin-bottom: 10px;" type="email" placeholder="Email"></ion-input>
      <ion-input style="margin-bottom: 10px;" type="password" placeholder="Password"></ion-input>
    </div>

    <div class="cont-2">
      <p style="font-size: small; margin-top: 0px;">Don't have an account?<a routerLink="/signin"><b> Sign up here</b></a></p>
    </div>

    <div class="signup">
      <ion-button class="btnsignup" fill="clear">Sign in</ion-button>
    </div>

  </div>


</ion-content>
